:root {
    --background: #09000f;
    --text-color: #ffb3cc;
    --button-hover: #dd91aa;
}

body {
    font-family: "Courier New", Courier, monospace;
    color: var(--text-color);
    background-color: var(--background);
    overflow-x: hidden;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

a {
    color: inherit;
    text-decoration: none;
}
