.button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 0.5rem 0.9rem;
    text-decoration: none;
    cursor: pointer;
    border-radius: 0.25rem;
    transition: all 0.3s ease;
    margin: 0.5rem;
    margin-right: 0px;
    margin-left: 0px;
    font-size: 1rem;
}

.button .icon {
    margin-right: 0.5rem;
    font-size: 1rem;
}

.link-button {
    color: var(--text-color);
    background-color: var(--background);
    border: 1px solid var(--button-hover);
}

.link-button:hover {
    background-color: var(--button-hover);
    color: var(--background);
}

.action-button {
    background-color: var(--button-hover);
    color: var(--background);
    border: 1px solid var(--button-hover);
}

.action-button:hover {
    background-color: var(--background);
    color: var(--text-color);
}

.toggle-button {
    color: var(--text-color);
    background-color: var(--background);
    border: 1px solid var(--button-hover);
}

.toggle-button.active {
    background-color: var(--button-hover);
    color: var(--background);
}

.close-button {
    width: 2rem;
    height: 2rem;
    background: none;
    cursor: pointer;
    color: var(--text-color);
    border: 1px solid var(--button-hover);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: color 0.3s ease;
    line-height: 0px;
}

.close-button:hover {
    background: var(--button-hover);
    color: var(--background);
}

.close-button .icon {
    margin-right: 0px;
    margin-bottom: 0px;
    font-size: 1.5rem;
}
