<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Companions</title>
    <link rel="stylesheet" th:href="@{/css/structure.css}">
    <link rel="stylesheet" th:href="@{/css/companion-list.css}">
</head>
<body>
<div class="hBox">
    <a href="/" class="affirm-button" style="margin: 15px;">Back</a>
    <h1 style="color: #104900">Here are all your Companions :)</h1>
</div>
<h2>Companions for Baldur's Gate 1</h2>
<div class="companionsList">
    <div th:each="companion : ${companionsBg1}">
        <div class="vBox" style="margin-left: 25px">
            <img th:src="@{/api/companions/portrait/{portraitId}(portraitId=${companion.portraitId})}"
                 th:alt="companion.name" th:data-id="${companion.id}" onclick="goToCompanion(this)"/>
            <label th:text="${companion.name}" style="margin-top: 15px; margin-bottom: 15px"></label>
        </div>
    </div>
</div>
<h2>Companions for Baldur's Gate 2</h2>
<div class="companionsList">
    <div th:each="companion : ${companionsBg2}">
        <div class="vBox" style="margin-left: 25px">
            <img th:src="@{/api/companions/portrait/{portraitId}(portraitId=${companion.portraitId})}"
                 th:alt="companion.name" th:data-id="${companion.id}" onclick="goToCompanion(this)"/>
            <label th:text="${companion.name}" style="margin-top: 15px; margin-bottom: 15px"></label>
        </div>
    </div>
</div>
<script>
    function goToCompanion(element) {
        const companionId = element.getAttribute('data-id');
        window.location.href = `/companions/${companionId}`;
    }
</script>
</body>
</html>