<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title>Add New Companion</title>
    <link rel="stylesheet" th:href="@{/css/structure.css}">
    <link rel="stylesheet" th:href="@{/css/createCompanion.css}">
</head>
<body>
<header>
    <h1>Add a New Companion Here</h1>
</header>
<main>
    <form enctype="multipart/form-data" id="companionForm" method="post">
        <div class="vBox">
            <div class="hBox">
                <div class="vBox" style="margin-right: 100px">
                    <div class="hBox">
                        <label for="name" style="margin-bottom: 15px">Name:</label>
                        <input id="name" name="name" type="text">
                    </div>
                    <div class="hBox">
                        <div class="vBox">
                            <label for="race" style="margin-bottom: 15px">Race:</label>
                            <select id="race" name="race">
                                <option th:each="race : ${races}" th:text="${race.toString()}" th:value="${race}">Race
                                </option>
                            </select>
                        </div>
                        <div class="vBox">
                            <label for="alignment" style="margin-bottom: 15px">Alignment:</label>
                            <select id="alignment" name="alignment">
                                <option th:each="alignment : ${alignments}" th:text="${alignment.toString()}"
                                        th:value="${alignment}">Alignment
                                </option>
                            </select>
                        </div>
                    </div>
                    <div class="vBox">
                        <label style="margin-bottom: 15px">Portrait:</label>
                        <div class="hBox">
                            <div class="file-input-container">
                                <input id="portrait" name="portrait" style="display: none;" type="file">
                                <button class="affirm-button" id="browseButton" style="border-width: 0; margin-bottom: 15px"
                                        type="button">Browse
                                </button>
                                <label id="fileName"></label>
                            </div>
                        </div>
                    </div>
                    <div class="hBox">
                        <div class="vBox">
                            <label for="charClass" style="margin-bottom: 15px">Class:</label>
                            <input id="charClass" name="charClass" type="text">
                        </div>
                    </div>
                </div>
                <div class="vBox">
                    <div class="hBox">
                        <label for="strength" style="margin-right: 10px">Str:</label>
                        <input id="strength" max="25" min="1" name="strength" required type="number">
                        <label for="dexterity" style="margin-right: 10px">Dex:</label>
                        <input id="dexterity" max="25" min="1" name="dexterity" required type="number">
                        <label for="constitution" style="margin-right: 10px">Con:</label>
                        <input id="constitution" max="25" min="1" name="constitution" required type="number">
                    </div>
                    <div class="hBox">
                        <label for="intelligence" style="margin-right: 10px">Int:</label>
                        <input id="intelligence" max="25" min="1" name="intelligence" required type="number">
                        <label for="wisdom" style="margin-right: 10px">Wis:</label>
                        <input id="wisdom" max="25" min="1" name="wisdom" required type="number">
                        <label for="charisma" style="margin-right: 10px">Cha:</label>
                        <input id="charisma" max="25" min="1" name="charisma" required type="number">
                    </div>
                    <div class="hBox" style="margin-top: 30px">
                        <label>
                            <input id="fighter" name="fighter" type="checkbox">
                            Fighter
                        </label>
                        <label>
                            <input id="thief" name="thief" type="checkbox">
                            Thief
                        </label>
                    </div>
                    <div class="hBox">
                        <fieldset>
                            <legend>Mage Type</legend>
                            <label>
                                <input checked id="noneMage" name="mageType" type="radio" value="none">
                                None
                            </label>
                            <label>
                                <input id="fullMage" name="mageType" type="radio" value="fullMage">
                                Full Mage
                            </label>
                            <label>
                                <input id="halfMage" name="mageType" type="radio" value="halfMage">
                                Half Mage
                            </label>
                        </fieldset>
                    </div>
                    <div class="hBox" style="margin-top: 35px">
                        <fieldset id="clericDruidTypes">
                            <legend>Cleric/Druid Type</legend>
                            <label>
                                <input checked id="noneClericDruid" name="clericDruidType" type="radio" value="none">
                                None
                            </label>
                            <label>
                                <input id="druid" name="clericDruidType" type="radio" value="druid">
                                Druid
                            </label>
                            <label>
                                <input id="fullCleric" name="clericDruidType" type="radio" value="fullCleric">
                                Full Cleric
                            </label>
                            <label>
                                <input id="halfCleric" name="clericDruidType" type="radio" value="halfCleric">
                                Half Cleric
                            </label>
                        </fieldset>
                    </div>
                </div>
                <div class="vBox" style="margin-left: 100px; width: 400px">
                    <h2>Explanation</h2>
                    <p>Class is basically only the name of the class, so enter whatever you want.</p>
                    <p>Important for rolling parties are the checkboxes. Full Mage, for example, just means if the
                        Character is able to fulfill the role of the main caster for the group, so someone like Edwin,
                        while Jan or Aerie are more like half mages.</p>
                    <p>Though it is up to you to determine who you consider a Full Mage since it depends on difficulty,
                        if, for example, Aerie can work as the only caster for a party.</p>
                </div>
            </div>
            <div class="hBox" style="margin-top: 35px">
                <label>
                    <input id="bg1" name="bg1" type="checkbox">
                    BG1
                </label>
                <label>
                    <input id="sod" name="sod" type="checkbox">
                    SoD
                </label>
                <label>
                    <input id="bg2" name="bg2" type="checkbox">
                    BG2
                </label>
            </div>
            <div>
                <button class="affirm-button" id="addCompanionButton" style="border-width: 0; margin-top: 50px; margin-bottom: 25px"
                        type="submit">Add Companion
                </button>
            </div>
            <div>
                <a class="affirm-button" href="/">Home</a>
            </div>
        </div>
    </form>
</main>
<script>
    document.getElementById("addCompanionButton").addEventListener("click", function (event) {
        event.preventDefault();

        const form = document.getElementById("companionForm");

        if (form.checkValidity()) {

            const formData = new FormData(form);
            const portraitFile = document.getElementById("portrait").files[0];

            if (portraitFile) {
                formData.append("portrait", portraitFile);
            }

            fetch("/api/companions/create", {
                method: "POST",
                body: formData
            })
                .then(response => response.json())
                .then(data => {
                    console.log("Success:", data);
                    window.location.href = "/companions";
                })
                .catch((error) => {
                    console.error("Error:", error);
                });
        } else {
            form.reportValidity();
        }

    });
</script>
<script>
    document.getElementById('browseButton').addEventListener('click', function () {
        document.getElementById('portrait').click();
    });

    document.getElementById('portrait').addEventListener('change', function () {
        let fileName = this.files[0].name;
        document.getElementById('fileName').textContent = fileName;
    });


</script>
</body>
</html>
