<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BGHelper</title>
    <link rel="stylesheet" th:href="@{/css/structure.css}">
    <link rel="stylesheet" th:href="@{/css/index.css}">
</head>
<body>
<div class="vBox" style="gap: 100px">
    <h1>Baldur's Gate Companion Manager</h1>
    <div class="hBox" style="gap: 100px">
        <div class="vBox" style="gap: 50px">
            <a class="affirm-button" href="/companions">View Companions</a>
            <a class="affirm-button" href="/companions/new">Add New Companion</a>
        </div>
        <div class="vBox" style="gap: 50px">
            <a class="affirm-button" href="/characters">View Characters</a>
            <a class="affirm-button" href="/characters/new">Add New Character</a>
        </div>
    </div>
</div>
</body>
</html>
