.character-detail-container {
    height: 100vh; /* Full screen height */
}

.character-header {
    margin-bottom: 2rem;
}

.character-detail-columns {
    display: flex;
    height: calc(100% - 60px); /* Fill remaining height after header */
}

.character-column {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}
