.companion-card {
    cursor: pointer;
    width: 140px;
    height: 225px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: border 0.2s ease;
}

.companion-card:hover {
    border: 1px solid var(--text-color);
    border-radius: 8px;
}

.companion-card-img {
    margin-top: 5px;
    width: 130px;
    height: 175px;
    border-radius: 5%;
    object-fit: cover;
}

.companion-name {
    color: var(--text-color);
}

.death-note-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
}

.death-note-read {
    background-color: var(--background);
    padding: 15px;
    border-radius: 5px;
    white-space: pre-wrap;
}

.death-note-input {
    width: 100%;
    padding: 10px;
    border: 1px solid var(--text-color);
    background: var(--background-dark);
    color: var(--text-color);
    border-radius: 5px;
    resize: vertical;
}
