body {
    background-color: var(--background-color);
    color: var(--prime-color);
}

img {
    width: 210px;
    height: 330px;
    padding: 5px;
    border-radius: 4px;
    cursor: pointer;
    background-color: var(--node-background-color);
}

.companionsList {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
    max-width: 2000px;
    margin: 10px;
    gap: 15px;
}