:root {
    --prime-color: #832e03;
    --affirm-color: #104900;
    --background-color: #000000;
    --node-background-color: #1e242f;
    --cancel-color: #750000;
}

body {
    font-family: "Droid Sans", monospace;
    font-weight: bold;
}

.vBox {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

.hBox {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
}

.affirm-button {
    font-family: "Droid Sans", monospace;
    font-weight: bold;
    background-color: var(--prime-color);
    color: var(--node-background-color);
    text-decoration: none;
    padding: 10px 20px;
    border-width: 0;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    display: inline-block;
    align-content: center;
}

.affirm-button:hover {
    background-color: var(--affirm-color);
}

.cancel-button {
    font-family: "Droid Sans", monospace;
    font-weight: bold;
    background-color: var(--prime-color);
    color: var(--node-background-color);
    text-decoration: none;
    padding: 10px 20px;
    border-width: 0;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    display: inline-block;
    align-content: center;
}

.cancel-button:hover {
    background-color: var(--cancel-color);
}