/* Preview Container */
.preview-container {
    width: 500px;
    height: 600px;
    border: 2px solid var(--text-color);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    background-color: var(--background);
    color: var(--text-color);
}

.preview-image {
    margin-top: 2%;
    margin-bottom: 4%;
    height: 80%;
    width: 75%;
    object-fit: cover;
    border-radius: 10px;
}

.preview-placeholder {
    width: 75%;
    height: 80%;
    background-color: var(--background);
    color: var(--text-color);
    display: flex;
    align-items: center;
    justify-content: center;
}

.preview-name {
    font-size: 1.2rem;
    font-weight: bold;
    margin-top: 0.5rem;
    text-align: center;
}

/* Custom Text Input */
.custom-input {
    border: none;
    border-bottom: 2px solid var(--text-color);
    background: transparent;
    outline: none;
    color: var(--text-color);
    font-size: 1rem;
    width: 100%;
    padding: 0.5rem;
}

.custom-input::placeholder {
    color: var(--text-color);
    opacity: 0.7;
}

/* Portrait File Input */
.portrait-label {
    font-size: 1rem;
    color: var(--text-color);
}

.file-input {
    display: none; /* Hide default input */
}

.file-button {
    width: 2.5rem;
    height: 2.5rem;
    border: 2px solid var(--text-color);
    border-radius: 5px;
    background-color: var(--background);
    color: var(--text-color);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition:
        background 0.3s,
        color 0.3s;
}

.file-button:hover {
    background-color: var(--button-hover);
    color: var(--background);
}
