/* Notification Container (Top Center) */
.notification-container {
    position: fixed;
    top: 2rem; /* Distance from the top */
    right: 1rem;
    z-index: 1050;
    display: flex;
    flex-direction: column;
    align-items: center; /* Center-align stacked toasts */
    gap: 10px;
}
/* Toast Notification */
.notification.toast {
    min-width: 600px;
    border-radius: 8px;
    padding: 1rem;
    background: var(--background);
    text-align: center;
    align-items: end;
    justify-items: end;
    font-weight: 500;
    font-size: 20px;
    overflow: hidden;
    animation: fadeIn 0.5s ease;
}

/* Colors Based on Type */
.custom-bg-success {
    background: var(--background);
    border: 2px solid var(--text-color);
}

.custom-bg-danger {
    background: var(--background);
    border: 2px solid var(--danger-color);
}

.custom-bg-info {
    background: var(--background);
    border: 2px solid var(--text-color);
}

/* Fade Animation */
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateX(20px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}
