body {
    font-family: "Droid Sans", monospace;
    background-color: var(--background-color);
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    background-color: var(--background-color);
    font-weight: bold;
    color: var(--prime-color);
    padding: 20px;
    text-align: center;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    padding: 20px;
}

label {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 15px;
    color: var(--prime-color);
}

input[type="text"],
input[type="file"] {
    font-family: "Droid Sans", monospace;
    font-weight: bold;
    padding: 10px;
    border-width: 0;
    color: var(--prime-color);
    background-color: var(--node-background-color);
    border-radius: 4px;
    font-size: 16px;
    margin-bottom: 15px;
}

input[type="number"],
input[type="checkbox"] {
    font-family: "Droid Sans", monospace;
    font-weight: bold;
    width: 60px;
    margin-bottom: 15px;
    background-color: var(--node-background-color);
    color: var(--prime-color);
    outline: none;
    border-width: 0;
    border-radius: 4px;
}

input[type="text"]:focus,
input[type="file"]:focus,
input[type="number"]:focus,
input[type="checkbox"]:focus {
    outline: none;
}

select {
    font-family: "Droid Sans", monospace;
    font-weight: bold;
    align-items: center;
    width: 200px;
    height: 40px;
    margin-bottom: 15px;
    background-color: var(--node-background-color);
    color: var(--prime-color);
    border-width: 0;
    border-radius: 8px;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="number"] {
    -moz-appearance: textfield; /* Firefox */
}

fieldset {
    color: var(--prime-color);
    border-color: var(--prime-color);
}