<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Companions</title>
    <link rel="stylesheet" th:href="@{/css/companion-list.css}">
</head>
<body>
<h1>Companions</h1>
<div id="companionsList"></div>
<a href="/" class="home-button">Home</a>
<script>
    fetch('/api/companions')
        .then(response => response.json())
        .then(companions => {
            const list = document.getElementById('companionsList');
            companions.forEach(companion => {
                const container = document.createElement('div');
                const img = document.createElement('img');
                img.src = `/api/companions/portrait/${companion.portraitId}`;
                img.alt = "portrait";
                img.onclick = () => goToCompanion(companion.id);
                container.appendChild(img);

                const label = document.createElement('label');
                label.innerText = `${companion.name}`;
                container.appendChild(label);

                list.appendChild(container);
            });
        })
        .catch(error => {
            console.error('Error:', error);
        });

    function goToCompanion(companionId) {
        window.location.href = `/companions/${companionId}`;
    }
</script>
</body>
</html>