<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Companions</title>
    <link rel="stylesheet" th:href="@{/css/companion-list.css}">
</head>
<body>
<h1>Companions</h1>
<h1>Companion List</h1>
<div id="companionsList">
    <div th:each="companion : ${companions}">
        <div>
            <img th:src="@{/api/companions/portrait/{portraitId}(portraitId=${companion.portraitId})}"
                 th:alt="companion.name" th:data-id="${companion.id}" onclick="goToCompanion(this)"/>
            <label th:text="${companion.name}"></label>
        </div>
    </div>
</div>
<a href="/" class="home-button" style="margin-left: 10px">Home</a>
<script>
    function goToCompanion(element) {
        const companionId = element.getAttribute('data-id');
        window.location.href = `/companions/${companionId}`;
    }
</script>
</body>
</html>