<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add New Companion</title>
    <link rel="stylesheet" th:href="@{/css/createCompanion.css}">
</head>
<body>
<header>
    <h1>Add a New Companion Here</h1>
</header>
<main>
    <div class="grid-container">
        <form id="companionForm" action="/api/companions/create" method="post" enctype="multipart/form-data">
            <div class="form-group">
                <label for="name">Name:</label>
                <input type="text" id="name" name="name" required>
            </div>
            <div class="form-group">
                <label>Portrait:</label>
                <div class="file-input-container">
                    <input type="file" id="portrait" name="portrait" style="display: none;">
                    <button type="button" id="browseButton">Browse</button>
                    <span id="fileName"></span>
                </div>
            </div>
            <div class="form-group checkbox-group">
                <label>Dual-Class:</label>
                <input type="checkbox" id="dualClass" name="dualClass">
            </div>
            <div class="form-group checkbox-group">
                <label>Multi-Class:</label>
                <input type="checkbox" id="multiClass" name="multiClass">
            </div>
            <div id="dropdownContainer"></div>
            <div class="form-group">
                <button type="submit">Add Companion</button>
            </div>
            <div class="form-group">
                <label>Main Class for Dual Class is first one not "None" from the left</label>
            </div>
        </form>
        <div class="form-group">
            <a href="/" class="home-button">Home</a>
        </div>
    </div>
</main>
<script>
    document.addEventListener('DOMContentLoaded', (event) => {
        document.getElementById('dualClass').checked = false;
        document.getElementById('multiClass').checked = false;
        updateDropdowns();
    });

    document.getElementById('dualClass').addEventListener('change', function () {
        document.getElementById('multiClass').checked = false;
        updateDropdowns();
    });

    document.getElementById('multiClass').addEventListener('change', function () {
        document.getElementById('dualClass').checked = false;
        updateDropdowns();
    });

    function updateDropdowns() {
        var dropdownContainer = document.getElementById('dropdownContainer');
        dropdownContainer.innerHTML = '';
        if (document.getElementById('dualClass').checked) {
            for (var i = 0; i < 3; i++) {
                var dropdownDiv = document.createElement('div');
                var dropdown = document.createElement('select');
                dropdown.id = 'dropdown' + i;
                dropdownDiv.appendChild(dropdown);
                dropdownContainer.appendChild(dropdown);
                var input = document.createElement('input');
                input.type = 'number';
                dropdownContainer.appendChild(input);
            }
        } else if (document.getElementById('multiClass').checked) {
            for (var i = 0; i < 3; i++) {
                var dropdown = document.createElement('select');
                dropdown.id = 'dropdown' + i;
                dropdownContainer.appendChild(dropdown);
            }
        } else if (!document.getElementById('dualClass').checked && !document.getElementById('multiClass').checked) {
            var dropdown = document.createElement('select');
            dropdown.id = 'dropdown0';
            dropdown.style.width = '300px';
            dropdownContainer.appendChild(dropdown);

        }
        updateDropdownOptions();
    }

    function updateDropdownOptions() {
        fetch('/api/kits')
            .then(response => response.json())
            .then(data => {
                var dropdowns = document.getElementById('dropdownContainer').getElementsByTagName('select');
                for (var dropdown of dropdowns) {
                    dropdown.innerHTML = '';
                    for (var kit of data) {
                        var option = document.createElement('option');
                        option.value = kit.id;
                        option.textContent = kit.name;
                        dropdown.appendChild(option);
                    }
                    var option = document.createElement('option');
                    option.value = null;
                    option.textContent = "None";
                    dropdown.appendChild(option);
                    dropdown.item(option);
                }
            });
    }
</script>
<script>
    document.getElementById('browseButton').addEventListener('click', function () {
        document.getElementById('portrait').click();
    });

    document.getElementById('portrait').addEventListener('change', function () {
        var fileName = this.files[0].name;
        document.getElementById('fileName').textContent = fileName;
    });

    document.getElementById('companionForm').addEventListener('submit', function (event) {
        event.preventDefault();
        var formData = new FormData(this);
        fetch('/api/companions/create', {
            method: 'POST',
            body: formData
        })
            .then(response => response.json())
            .then(data => {
                if (data) {
                    alert('Companion created successfully!');
                }
            })
            .catch(error => {
                console.error('Error:', error);
            });
    });
</script>
</body>
</html>
