<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add New Companion</title>
    <link rel="stylesheet" th:href="@{/css/createCompanion.css}">
</head>
<body>
<header>
    <h1>Add a New Companion Here</h1>
</header>
<main>
    <div class="grid-container">
        <form id="companionForm" action="/api/companions/create" method="post" enctype="multipart/form-data">
            <div class="form-group">
                <label for="name">Name:</label>
                <input type="text" id="name" name="name" required>
            </div>
            <div class="form-group">
                <label>Portrait:</label>
                <div class="file-input-container">
                    <input type="file" id="portrait" name="portrait" style="display: none;">
                    <button type="button" id="browseButton">Browse</button>
                    <span id="fileName"></span>
                </div>
            </div>
            <div class="form-group">
                <label>Alignment:</label>
                <div id="alignmentDropdownContainer"></div>
            </div>
            <div id="statsRow1" class="stats-row">
                <div class="stat-item">
                    <label>STR:</label>
                    <input type="number" id="str" name="strength">
                </div>
                <div class="stat-item">
                    <label>DEX:</label>
                    <input type="number" id="dex" name="dexterity">
                </div>
                <div class="stat-item">
                    <label>CON:</label>
                    <input type="number" id="con" name="constitution">
                </div>
            </div>
            <div id="statsRow2" class="stats-row">
                <div class="stat-item">
                    <label>INT:</label>
                    <input type="number" id="int" name="intelligence">
                </div>
                <div class="stat-item">
                    <label>WIS:</label>
                    <input type="number" id="wis" name="wisdom">
                </div>
                <div class="stat-item">
                    <label>CHA:</label>
                    <input type="number" id="cha" name="charisma">
                </div>
            </div>
            <div class="checkboxes-container">
                <div class="form-group checkbox-group">
                    <label>Dual-Class:</label>
                    <input type="checkbox" id="dualClass" name="dualClass">
                </div>
                <div class="form-group checkbox-group">
                    <label>Multi-Class:</label>
                    <input type="checkbox" id="multiClass" name="multiClass">
                </div>
            </div>
            <div id="dropdownContainer"></div>
            <div class="checkboxes-container">
                <div class="form-group checkbox-group">
                    <input type="checkbox" id="bg1Check" name="bg1Checkbox">
                    <label for="bg1Check">BG1</label>
                </div>
                <div class="form-group checkbox-group">
                    <input type="checkbox" id="sodCheck" name="sodCheckbox">
                    <label for="sodCheck">SoD</label>
                </div>
                <div class="form-group checkbox-group">
                    <input type="checkbox" id="bg2Check" name="bg2Checkbox">
                    <label for="bg2Check">BG2</label>
                </div>
            </div>
            <div class="form-group">
                <button type="submit">Add Companion</button>
            </div>
            <div class="form-group">
                <label>Main Class for Dual Class is first one not "None" from the left</label>
            </div>
            <div class="form-group">
                <a href="/" class="home-button">Home</a>
            </div>
        </form>
    </div>
</main>
<script>
    document.getElementById('browseButton').addEventListener('click', function () {
        document.getElementById('portrait').click();
    });

    document.getElementById('portrait').addEventListener('change', function () {
        var fileName = this.files[0].name;
        document.getElementById('fileName').textContent = fileName;
    });

    document.getElementById('companionForm').addEventListener('submit', function (event) {
        event.preventDefault();
        var formData = new FormData(this);
        formData.append('alignment', document.getElementById("alignmentDropdown").value);
        formData.append('str', document.getElementById('str').value);
        formData.append('dex', document.getElementById('dex').value);
        formData.append('con', document.getElementById('con').value);
        formData.append('int', document.getElementById('int').value);
        formData.append('wis', document.getElementById('wis').value);
        formData.append('cha', document.getElementById('cha').value);
        if (!document.getElementById('dualClass').checked && !document.getElementById('multiClass').checked) {
            formData.append('kit1', document.getElementById('dropdown0').value);
        }
        if (document.getElementById('multiClass').checked) {
            formData.append('kit1', document.getElementById('dropdown0').value);
            formData.append('kit2', document.getElementById('dropdown1').value);
            formData.append('kit3', document.getElementById('dropdown2').value);
        }
        if (document.getElementById('dualClass').checked) {
            formData.append('kit1', document.getElementById('dropdown0').value);
            formData.append('kit1lvl', document.getElementById('lvlInput0').value);
            formData.append('kit2', document.getElementById('dropdown1').value);
            formData.append('kit2lvl', document.getElementById('lvlInput1').value);
            formData.append('kit3', document.getElementById('dropdown2').value);
            formData.append('kit3lvl', document.getElementById('lvlInput2').value);
        }
        formData.append('bg1', document.getElementById('bg1Check').checked);
        formData.append('sod', document.getElementById('sodCheck').checked);
        formData.append('bg2', document.getElementById('bg2Check').checked);
        fetch('/api/companions/create', {
            method: 'POST',
            body: formData
        })
            .then(response => response.json())
            .then(data => {
                if (data) {
                    alert('Companion created successfully!');
                }
            })
            .catch(error => {
                console.error('Error:', error);
            });
    });
</script>
<script>
    document.addEventListener('DOMContentLoaded', (event) => {
        document.getElementById('dualClass').checked = false;
        document.getElementById('multiClass').checked = false;
        updateDropdowns();
        updateAlignmentDropDown();
    });

    document.getElementById('dualClass').addEventListener('change', function () {
        document.getElementById('multiClass').checked = false;
        updateDropdowns();
    });

    document.getElementById('multiClass').addEventListener('change', function () {
        document.getElementById('dualClass').checked = false;
        updateDropdowns();
    });

    function updateAlignmentDropDown() {
        var dropdownContainer = document.getElementById('alignmentDropdownContainer');
        dropdownContainer.innerHTML = '';
        var alignmentDropdown = document.createElement('select');
        alignmentDropdown.id = 'alignmentDropdown';

        fetch('/api/alignments')
            .then(response => response.json())
            .then(data => {
                data.forEach(alignment => {
                    var option = document.createElement('option');
                    option.value = alignment;
                    option.textContent = alignment.replace(/_/g, ' ');
                    alignmentDropdown.appendChild(option);
                });
            })
            .catch(error => console.error('Error:', error));
        dropdownContainer.appendChild(alignmentDropdown);
    }

    function updateDropdowns() {
        var dropdownContainer = document.getElementById("dropdownContainer");
        dropdownContainer.innerHTML = '';
        if (document.getElementById('dualClass').checked) {
            for (var i = 0; i < 3; i++) {
                var dropdownDiv = document.createElement('div');
                var dropdown = document.createElement('select');
                dropdown.id = 'dropdown' + i;
                dropdownDiv.appendChild(dropdown);
                dropdownContainer.appendChild(dropdown);
                var input = document.createElement('input');
                input.type = 'number';
                input.id = 'lvlInput' + i;
                dropdownContainer.appendChild(input);
            }
        } else if (document.getElementById('multiClass').checked) {
            for (var i = 0; i < 3; i++) {
                var dropdown = document.createElement('select');
                dropdown.id = 'dropdown' + i;
                dropdownContainer.appendChild(dropdown);
            }
        } else if (!document.getElementById('dualClass').checked && !document.getElementById('multiClass').checked) {
            var dropdown = document.createElement('select');
            dropdown.id = 'dropdown0';
            dropdown.style.width = '300px';
            dropdownContainer.appendChild(dropdown);
        }
        updateDropdownOptions();
    }

    function updateDropdownOptions() {
        fetch('/api/kits')
            .then(response => response.json())
            .then(data => {
                var dropdowns = document.getElementById('dropdownContainer').getElementsByTagName('select');
                for (var dropdown of dropdowns) {
                    dropdown.innerHTML = '';
                    for (var kit of data) {
                        var option = document.createElement('option');
                        option.value = kit.id;
                        option.textContent = kit.name;
                        dropdown.appendChild(option);
                    }
                    var option = document.createElement('option');
                    option.value = null;
                    option.textContent = "None";
                    dropdown.appendChild(option);
                    dropdown.item(option);
                }
            });
    }
</script>
</body>
</html>
