<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add new Kit</title>
    <link rel="stylesheet" th:href="@{/css/createKit.css}">
</head>
<body>
<header>
    <h1>Add a new Kit</h1>
</header>
<main>
    <div class="grid-container">
        <form id="kitForm" action="/api/kits/create" method="post" enctype="multipart/form-data">
            <div class="form-group">
                <label for="name">Name:</label>
                <input type="text" id="name" name="name" required>
            </div>
            <div class="form-group">
                <div class="form-group">
                    <label>Fighter:</label>
                    <input type="checkbox" id="fighterCheckbox" name="isFighter">
                </div>
                <div class="form-group">
                    <label>Mage:</label>
                    <input type="checkbox" id="mageCheckbox" name="isMage">
                </div>
                <div class="form-group">
                    <label>Thief:</label>
                    <input type="checkbox" id="thiefCheckbox" name="isThief">
                </div>
            </div>
            <div class="form-group">
                <button type="submit">Add Kit</button>
            </div>
        </form>
        <div class="form-group">
            <a href="/" class="home-button">Home</a>
        </div>
    </div>
</main>
<script>
    document.getElementById('kitForm').addEventListener('submit', function (event) {
        event.preventDefault();
        var formData = new FormData(this);
        formData.append('checkbox1', document.getElementById('fighterCheckbox').checked);
        formData.append('checkbox2', document.getElementById('mageCheckbox').checked);
        formData.append('checkbox3', document.getElementById('thiefCheckbox').checked);
        fetch('/api/kits/create', {
            method: 'POST',
            body: formData
        })
            .then(response => response.json())
            .then(data => {
                if (data) {
                    alert('Kit created successfully!');
                }
            })
            .catch(error => {
                console.error('Error:', error);
            });
    });
</script>
</body>
</html>
