<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add New Companion</title>
    <link rel="stylesheet" th:href="@{/css/structure.css}">
    <link rel="stylesheet" th:href="@{/css/createCompanion.css}">
</head>
<body>
<header>
    <h1>Add a New Companion Here</h1>
</header>
<main>
    <form th:action="@{/api/companions/create}" th:object="${companion}" method="post" enctype="multipart/form-data">
        <div class="vBox">
            <div class="hBox">
                <div class="vBox" style="margin-right: 100px">
                    <div class="hBox">
                        <label style="margin-bottom: 15px">Name:</label>
                        <input type="text" id="name" th:field="*{name}">
                    </div>
                    <div class="hBox">
                        <div class="vBox">
                            <label style="margin-bottom: 15px">Race:</label>
                            <select id="race" th:field="*{race}">
                                <option th:each="race : ${races}" th:value="${race}" th:text="${race.toString()}">Race
                                </option>
                            </select>
                        </div>
                        <div class="vBox">
                            <label style="margin-bottom: 15px">Alignment:</label>
                            <select id="alignment" th:field="*{alignment}">
                                <option th:each="alignment : ${alignments}" th:value="${alignment}"
                                        th:text="${alignment.toString()}">Alignment
                                </option>
                            </select>
                        </div>
                    </div>
                    <div class="vBox">
                        <label style="margin-bottom: 15px">Portrait:</label>
                        <div class="hBox">
                            <div class="file-input-container">
                                <input type="file" id="portrait" name="portrait" style="display: none;">
                                <button class="affirm-button" type="button" id="browseButton"
                                        style="border-width: 0; margin-bottom: 15px">Browse
                                </button>
                                <label id="fileName"></label>
                            </div>
                        </div>
                    </div>
                    <div class="hBox">
                        <div class="vBox">
                            <label style="margin-bottom: 15px">Class:</label>
                            <input type="text" id="charClass" th:field="*{charClass}">
                        </div>
                    </div>
                </div>
                <div class="vBox">
                    <div class="hBox">
                        <label style="margin-right: 10px">Str:</label>
                        <input type="number" id="strength" th:field="*{strength}">
                        <label style="margin-right: 10px">Dex:</label>
                        <input type="number" id="dexterity" th:field="*{dexterity}">
                        <label style="margin-right: 10px">Con:</label>
                        <input type="number" id="constitution" th:field="*{constitution}">
                    </div>
                    <div class="hBox">
                        <label style="margin-right: 10px">Int:</label>
                        <input type="number" id="intelligence" th:field="*{intelligence}">
                        <label style="margin-right: 10px">Wis:</label>
                        <input type="number" id="wisdom" th:field="*{wisdom}">
                        <label style="margin-right: 10px">Cha:</label>
                        <input type="number" id="charisma" th:field="*{charisma}">
                    </div>
                    <div class="hBox" style="margin-top: 30px">
                        <label>
                            <input type="checkbox" name="isFighter" value="true">
                            Fighter
                        </label>
                        <label>
                            <input type="checkbox" name="isThief" value="true">
                            Thief
                        </label>
                    </div>
                    <div class="hBox">
                        <fieldset>
                            <legend>Mage Type</legend>
                            <label>
                                <input type="radio" name="mageType" value="none" checked>
                                None
                            </label>
                            <label>
                                <input type="radio" name="mageType" value="fullMage">
                                Full Mage
                            </label>
                            <label>
                                <input type="radio" name="mageType" value="halfMage">
                                Half Mage
                            </label>
                        </fieldset>
                    </div>
                    <div class="hBox" style="margin-top: 35px">
                        <fieldset>
                            <legend>Cleric/Druid Type</legend>
                            <label>
                                <input type="radio" name="clericDruidType" value="none" checked>
                                None
                            </label>
                            <label>
                                <input type="radio" name="clericDruidType" value="druid">
                                Druid
                            </label>
                            <label>
                                <input type="radio" name="clericDruidType" value="fullCleric">
                                Full Cleric
                            </label>
                            <label>
                                <input type="radio" name="clericDruidType" value="halfCleric">
                                Half Cleric
                            </label>
                        </fieldset>
                    </div>
                </div>
            </div>
            <div>
                <button class="affirm-button" type="submit"
                        style="border-width: 0; margin-top: 50px; margin-bottom: 25px">Add Companion
                </button>
            </div>
            <div>
                <a href="/" class="affirm-button">Home</a>
            </div>
        </div>
    </form>
</main>
<script>
    document.getElementById('browseButton').addEventListener('click', function () {
        document.getElementById('portrait').click();
    });

    document.getElementById('portrait').addEventListener('change', function () {
        let fileName = this.files[0].name;
        document.getElementById('fileName').textContent = fileName;
    });
</script>
</body>
</html>
